label{
  color: black;
}
input{
  margin: 2px;
}
html{
  min-width: 400px
  max-width: 800px
}
body{
  font-weight: bold;
  color: white;
}
header{
  text-align: left;  
}

nav{
  text-align: center;
}
button:hover{
  background-color: lightblue;
}

h1,h2{
  font-family: sans-serif;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 0px rgba;
}
*p{
  font-family: arial;
  line-height: 1.2em;  
}
ul{
  list-style-type: '\2714\0020\0020';
  list-style-position: inside;
  columns: 2; 
}
li:hover{
  background-color:  lightblue;
  color: black;
}
footer{
  text-align: center;
}